* {
    box-sizing: border-box;
}


body {
    background: url("../images/pattern3.jpg");
}


#title {
    text-align: center;
    background: coral;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    margin-left: 10px;
}

.rules {
    background: rgb(233, 204, 160);
    margin-left: 10px;
}

p {
    color: green;
    margin-left: 5px;
}

h6 {
    padding-top: 10px;
}

#comp-score {
    height: 90px;
    font-size: 20px;
    background: green;
    margin-left: 10px;
    padding-left: 5px;
    color: white;
}

#won-lost{
    height: 90px;
    background: cyan;
    margin-left: 0;
    text-align: center;
}

#gem-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#score-board {
    font-size: 20px;
    color: white;
    background: teal;
    height: 90px;
    margin-left: 10px;
    padding-left: 5px;
}




